*{
  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
  
    background-color: #b9b9b9;
}
.tabela{
    margin-top: 25px;
    margin-left: 500px;
    display: flex;
   flex-wrap: wrap;
    width: 50%;
    height: 5vh;
   
}



.Item-lista{
   
    width: 15vw;
    height: 5vh;
    border: none;
    background-color: #ffffff;
    display: table;
    text-align: center;
    margin: 10px;
    padding: 0 20px;
    padding-top: 20px;
    font-size: 1.5rem;
    border-radius: 15%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-bottom: 30px;
    
}
#perfil{
    width: 100px;
}
.Item-lista > button:hover{

    border-color: #000000;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);;
    transform: scale(1.2);

}
.Item-lista >  button  {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
    width: 15vh;
    height: 6vh;
    border-radius:  20px;
    border: solid 1px  rgb(3, 3, 3);
    background-color: black;
    color: #ffffff;
    margin-top:15px ;
}
#img-item{
    width: 8vh;
    height: 8vh;
}
#nivel-fun{
    width:40px;
    border: none;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;

}

.modelo{
    visibility: hidden;
    display:none;
}
