*{
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

header{
    padding: 15px;
    display: flex;
    flex-direction: row;
    background-color: gray;
    color: white;
    width: 100vw;
    height: 30px;
    justify-content: space-around;
}

header button{
    width: 200px;
    height: 35px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    box-shadow: 0px 0px 3px white;
    cursor: pointer;
    border-radius: 5px;
}

.icone2{

        width: 40px;
        background-color: #000000;
        color: #FFF;
        font-weight: bold;
        font-size: 20px;
        border-radius: 15px;

    }

.icone{
        width: 40px;
}
.card{
    padding: 10px;
    width: 70vw;
    display: grid;
    grid-template-columns: 45%  25% 7% 7% 7%;
    align-items: center;
    box-shadow: 0px 0px 5px black;
    margin: 5px;
    border-radius: 15px;
    margin-top: 25px;
}

#del, #cadastro, #edit{
    background-color: transparent;
    border: none;
  width: 30px;
  height: 30px;
}

.modal {
    display: flex;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.5);
    align-items: center;
    justify-content: center;
}

.modal-content {
    width: 350px;
    background-color: #FFF;
    border-radius: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    justify-content: space-evenly;
}

.model {
    display: none;
    visibility: hidden;
}

.modal-content > button {
    position: absolute;
    right: 0;
    top: 0;
    margin: 20px;
}

.modal-content-footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 15px;
}

.modal-content-body {
    margin-top: 20px;
}

.confirm {
    padding: 10px 15px;
    color: white;
    border-radius: 5px;
    background-color: #2fd659;
    border: none;
    box-shadow: 0px 0px 5px gray;
}

.cancel {
    padding: 10px 15px;
    color: white;
    border-radius: 5px;
    background-color: #fa2828; 
    border: none;
    box-shadow: 0px 0px 5px gray;
}

input {
    width: 100%;
    border: 1px solid gray;
    border-radius: 5px;
    outline: none;
    padding: 5px 10px;
    margin-top: 10px;
}

.cadastrar:hover {
    color:  #fff;
    background-color: #000000;
}


